# Gateway
PORT=3000
AUTH_SERVICE_URL=http://localhost:3001
ITEMS_SERVICE_URL=http://localhost:3002
JWT_SECRET=your-super-secret-jwt-key-change-in-production
CORS_ORIGIN=http://localhost:3000

# Auth Service
AUTH_PORT=3001
AUTH_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/ne_auth_db?schema=public

# Items Service
ITEMS_PORT=3002
ITEMS_DATABASE_URL=postgresql://postgres:postgres@localhost:5434/ne_items_db?schema=public
